body#home {
  height: 100vh;
  background-image: url("../assets/img/landing-background.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.nav {
  filter: brightness(1.5);
}

.dropdown-menu {
  filter: brightness(0.67);
}

.dropdown h5 {
  padding: 3px 20px;
}

tr.data:hover {
  background-color: lightgrey;
  cursor: pointer;
}

th {
  cursor: pointer;
}

.input-group {
  margin: auto;
  margin-top: 20px;
  width: 50%;
}

.input-group input {
  display: inline-block;
}

.input-group button {  
  display: inline-block;
}

div.alert-warning {
  display: none;
}

div.alert-warning.active {
  display: block;
  width: 30%;
  margin: auto;
  margin-top: 20px;
}

div#cart-item {
  margin-top: 10px;
}

#quantity {
  margin-top: 25px;
}

#quantInput {
  margin-top: 18px;
}

#quantButton {
  margin-top: 20px;
}

#totals {
  height: 300px;
  width: 400px;
  top: 75px;
  border: solid darkgray thin;
  border-radius: 10px;
}

input[type=text], input[type=email], input[type=tel] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color:#333;
}

input[type=submit] {
  padding:5px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

header.masthead {
  margin: auto;
  text-align: center;
  color: white;
}

header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
}

header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  /* margin-bottom: 2rem; */
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 25rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}