<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <div class="container">
  <h2>training info</h2>

  <%- include ("../partials/table.ejs") %>

  </div>

</body>
</html>
